@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <button id="randomJoke" type="button" class="btn btn-info">Get a Random Joke</button>
            <p id="randomJokeHolder"></p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <input id="searchTerm" type="text" class="form-control" placeholder="Enter a search term for jokes" aria-label="Search Term"
                aria-describedby="searchJoke">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchJoke">Search Jokes</button>
            </div>

        </div>
        <div id="searchJokeHolder">
            <div class="row">
                <label>Small Jokes</label>
                <ul id="smallJokes">

                </ul>
            </div>
            <div class="row">
                <label>Medium Jokes</label>
                <ul id="mediumJokes">

                </ul>
            </div>
            <div class="row">
                <label>Large Jokes</label>
                <ul id="largeJokes">

                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript" asp-append-version="true" src="/js/jokes.js"></script>
}