@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test site for Eric Croom to display the implementation of a back end api.</p>
</div>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <button id="randomJoke" type="button" class="btn btn-info">Get a Random Joke</button>

        </div>
        <p id="randomJokeHolder"></p>
    </div>

</div>


<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <input id="searchTerm" type="text" class="form-control" placeholder="Enter a search term for jokes"
                aria-label="Search Term" aria-describedby="searchJoke">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchJoke">Search Jokes</button>
            </div>

        </div>
        <div id="searchJokeHolder">
            <h3>Search Results</h3>
            <div class="row">
                <div class="col">
                    <label>Small Jokes</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul id="smallJokes">

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Medium Jokes</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul id="mediumJokes">

                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Large Jokes</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul id="largeJokes">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript" asp-append-version="true" src="/js/jokes.js"></script>
}